<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploratory Data Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Exploratory Data Analysis</h1>
    <div>
        {% for plot in plots %}
            <div class="plot-container">
                <img src="{{ url_for('static', filename='plots/' ~ plot) }}" alt="{{ plot }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>
